*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea
/app/.cxx/cmake/release/armeabi-v7a/.ninja_deps
/app/.cxx/cmake/debug/x86/.ninja_deps
/app/.cxx/cmake/debug/armeabi-v7a/.ninja_deps
/app/.cxx/cmake/release/x86/.ninja_deps
/app/.cxx/cmake/release/armeabi-v7a/.ninja_log
/app/.cxx/cmake/debug/x86/.ninja_log
/app/.cxx/cmake/debug/armeabi-v7a/.ninja_log
/app/.cxx/cmake/release/x86/.ninja_log
/app/.cxx/cmake/release/armeabi-v7a/android_gradle_build.json
/app/.cxx/cmake/debug/x86/android_gradle_build.json
/app/.cxx/cmake/debug/armeabi-v7a/android_gradle_build.json
/app/.cxx/cmake/release/x86/android_gradle_build.json
/app/.cxx/cmake/release/armeabi-v7a/android_gradle_build_mini.json
/app/.cxx/cmake/debug/x86/android_gradle_build_mini.json
/app/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_mini.json
/app/.cxx/cmake/release/x86/android_gradle_build_mini.json
/app/.cxx/cmake/release/armeabi-v7a/android_gradle_build_native-lib_armeabi-v7a.command.txt
/app/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_native-lib_armeabi-v7a.command.txt
/app/.cxx/cmake/release/armeabi-v7a/android_gradle_build_native-lib_armeabi-v7a.stderr.txt
/app/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_native-lib_armeabi-v7a.stderr.txt
/app/.cxx/cmake/release/armeabi-v7a/android_gradle_build_native-lib_armeabi-v7a.stdout.txt
/app/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_native-lib_armeabi-v7a.stdout.txt
/app/.cxx/cmake/debug/x86/android_gradle_build_native-lib_x86.command.txt
/app/.cxx/cmake/release/x86/android_gradle_build_native-lib_x86.command.txt
/app/.cxx/cmake/debug/x86/android_gradle_build_native-lib_x86.stderr.txt
/app/.cxx/cmake/release/x86/android_gradle_build_native-lib_x86.stderr.txt
/app/.cxx/cmake/debug/x86/android_gradle_build_native-lib_x86.stdout.txt
/app/.cxx/cmake/release/x86/android_gradle_build_native-lib_x86.stdout.txt
/app/.cxx/cmake/release/armeabi-v7a/build.ninja
/app/.cxx/cmake/debug/x86/build.ninja
/app/.cxx/cmake/debug/armeabi-v7a/build.ninja
/app/.cxx/cmake/release/x86/build.ninja
/app/.cxx/cmake/release/armeabi-v7a/build_command.txt
/app/.cxx/cmake/debug/x86/build_command.txt
/app/.cxx/cmake/debug/armeabi-v7a/build_command.txt
/app/.cxx/cmake/release/x86/build_command.txt
/app/.cxx/cmake/release/armeabi-v7a/build_model.json
/app/.cxx/cmake/debug/x86/build_model.json
/app/.cxx/cmake/debug/armeabi-v7a/build_model.json
/app/.cxx/cmake/release/x86/build_model.json
/app/.cxx/cmake/release/armeabi-v7a/build_output.txt
/app/.cxx/cmake/debug/x86/build_output.txt
/app/.cxx/cmake/debug/armeabi-v7a/build_output.txt
/app/.cxx/cmake/release/x86/build_output.txt
/app/.cxx/cmake/release/x86/CMakeFiles/cmake.check_cache
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/cmake.check_cache
/app/.cxx/cmake/debug/x86/CMakeFiles/cmake.check_cache
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/cmake.check_cache
/app/.cxx/cmake/release/armeabi-v7a/cmake_install.cmake
/app/.cxx/cmake/debug/x86/cmake_install.cmake
/app/.cxx/cmake/debug/armeabi-v7a/cmake_install.cmake
/app/.cxx/cmake/release/x86/cmake_install.cmake
/app/.cxx/cmake/release/armeabi-v7a/cmake_server_log.txt
/app/.cxx/cmake/debug/x86/cmake_server_log.txt
/app/.cxx/cmake/debug/armeabi-v7a/cmake_server_log.txt
/app/.cxx/cmake/release/x86/cmake_server_log.txt
/app/.cxx/cmake/release/armeabi-v7a/CMakeCache.txt
/app/.cxx/cmake/debug/x86/CMakeCache.txt
/app/.cxx/cmake/debug/armeabi-v7a/CMakeCache.txt
/app/.cxx/cmake/release/x86/CMakeCache.txt
/app/.cxx/cmake/release/x86/CMakeFiles/3.10.2/CMakeCCompiler.cmake
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
/app/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeCCompiler.cmake
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
/app/.cxx/cmake/release/x86/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
/app/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
/app/.cxx/cmake/release/x86/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
/app/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
/app/.cxx/cmake/release/x86/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
/app/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
/app/.cxx/cmake/release/x86/CMakeFiles/CMakeOutput.log
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/CMakeOutput.log
/app/.cxx/cmake/debug/x86/CMakeFiles/CMakeOutput.log
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/CMakeOutput.log
/app/.cxx/cmake/release/x86/CMakeFiles/3.10.2/CMakeSystem.cmake
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeSystem.cmake
/app/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeSystem.cmake
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeSystem.cmake
/app/.cxx/cmake/release/armeabi-v7a/compile_commands.json
/app/.cxx/cmake/debug/x86/compile_commands.json
/app/.cxx/cmake/debug/armeabi-v7a/compile_commands.json
/app/.cxx/cmake/release/x86/compile_commands.json
/app/.cxx/cmake/release/x86/CMakeFiles/feature_tests.bin
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/feature_tests.bin
/app/.cxx/cmake/debug/x86/CMakeFiles/feature_tests.bin
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.bin
/app/.cxx/cmake/release/x86/CMakeFiles/feature_tests.c
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/feature_tests.c
/app/.cxx/cmake/debug/x86/CMakeFiles/feature_tests.c
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.c
/app/.cxx/cmake/release/x86/CMakeFiles/feature_tests.cxx
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/feature_tests.cxx
/app/.cxx/cmake/debug/x86/CMakeFiles/feature_tests.cxx
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.cxx
/app/.cxx/cmake/release/armeabi-v7a/json_generation_record.json
/app/.cxx/cmake/debug/x86/json_generation_record.json
/app/.cxx/cmake/debug/armeabi-v7a/json_generation_record.json
/app/.cxx/cmake/release/x86/json_generation_record.json
/app/.cxx/cmake/release/x86/CMakeFiles/native-lib.dir/src/main/cpp/native-lib.cpp.o
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/native-lib.dir/src/main/cpp/native-lib.cpp.o
/app/.cxx/cmake/debug/x86/CMakeFiles/native-lib.dir/src/main/cpp/native-lib.cpp.o
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/native-lib.dir/src/main/cpp/native-lib.cpp.o
/app/.cxx/cmake/release/armeabi-v7a/rules.ninja
/app/.cxx/cmake/debug/x86/rules.ninja
/app/.cxx/cmake/debug/armeabi-v7a/rules.ninja
/app/.cxx/cmake/release/x86/rules.ninja
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/app/.cxx/cmake/debug/x86/CMakeFiles/TargetDirectories.txt
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/app/.cxx/cmake/release/x86/CMakeFiles/TargetDirectories.txt
